<section class="search-filters">
  <div class="talent-filters" id="test">

      <div>
        <%= form_with url: talents_path, method: :get, class: "d-flex" do %>

          <label for="all"><i class="fa-solid fa-democrat fa-2x icon curseur"></i><span class="span-opacity">All</span></label>
          <%= radio_button_tag :talent_type, "", false, id: 'all', hidden: true %>

          <label for="magicien"><i class="fa-solid fa-wand-magic-sparkles fa-2x icon curseur"></i><span class="span-opacity">Magicien</span></label>
          <%= radio_button_tag :talent_type, "Magicien", false, id: 'magicien', hidden: true %>

          <label for="clown"><i class="fa-solid fa-face-grin-squint-tears fa-2x icon curseur"></i><span class="span-opacity">Clown</span></label>
          <%= radio_button_tag :talent_type, "Clown", false, id: 'clown', hidden: true %>

          <label for="cracheur"><i class="fa-solid fa-fire fa-2x icon curseur"></i><span class="span-opacity">Cracheur Feu</span></label>
          <%= radio_button_tag :talent_type, "Cracheur de Feu", false, id: 'cracheur', hidden: true %>

          <label for="dompteur"><i class="fa-solid fa-staff-snake fa-2x icon curseur"></i><span class="span-opacity">Dompteur Serpents</span></label>
          <%= radio_button_tag :talent_type, "Dompteur de Serpents", false, id: 'dompteur', hidden: true %>

          <label for="strip"><i class="fa-solid fa-venus fa-2x icon curseur"></i><span class="span-opacity">Striptease</span></label>
          <%= radio_button_tag :talent_type, "Stripteaseur", false, id: 'strip', hidden: true %>

          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "ex: 75" %>

          <button type="submit" class="btn btn-index">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        <% end %>
      </div>

  </div>
</section>

<section class="talent-list">
  <div class="row">
    <% @talents.each do |talent| %>
      <div class="col-md-3 talent-card">
        <a href="<%= talent_path(talent) %>" class="card-link" style="text-decoration: none">
          <div class="card">
            <% if talent.medias.attached?  %>
              <img src="<%= cl_image_path(talent.medias.first.key)%>" class="card-img-top" alt="Talent picture">
            <% else %>
              <img src="<%= asset_path('mimi.jpeg')%>" class="card-img-top" alt="Talent picture">
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= talent.pseudo %></h5>
              <p class="card-text"><%= talent.talent_type %> - <%= talent.working_area %></p>

              <div class="price-rating">
                <p><%= number_with_precision(talent.price, precision: 2) %> €</p>

                <% if talent.reviews.any? %>
                  <% total_ratings = talent.reviews.pluck(:rating).compact.sum %>
                  <% average_rating = total_ratings.to_f / talent.reviews.count %>
                  <p> <%= average_rating.round(2) %> <i class="fa-solid fa-star"></i></p>
                <% else %>
                  <p> No rating yet </p>
                <% end %>

              </div>

            </div>
          </div>

        </a>

      </div>

    <% end %>

  </div>
</section>
