<div class="container">
  <h2><%= @talent.pseudo %></h2>
  <div class="talent-infos-recap">
    <p><%= @talent.working_area %></p>
    <p><%= @talent.talent_type %></p>
  </div>
</div>

<div class="container">
  <div class="parent">
    <div class="big-photo">
    </div>
    <div class="small-photo"></div>
    <div class="small-photo"></div>
    <div class="small-photo"></div>
    <div class="small-photo"> </div>
  </div>
</div>


<div class="container">
  <div class="content">
    <div class="left-info">
      <h3><%= @talent.pseudo %> - <%= @talent.talent_type %></h3>
      <p><%= @talent.description %></p>
    </div>
    <div class="right-info">
      <div class="card-book">
        <h4><%= @talent.price %>€</h4>
        <p> 5/5</p>
        <div class="form-wrapper">
          <h3>Book <%= @talent.pseudo %></h3>
          <%= simple_form_for [@talent, @booking] do |f| %>
            <%= f.input :start_date, as: :string, class: "start_date",
                        required:  false,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date, as: :string, class: "end_date",
                        required: false,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.submit class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%# url(<%=list.photo.attached? ? cl_image_tag(list.photo.key) :asset_path('back_ground.jpg')%>
<%# @talent.medias.each do |photo|
cl_image_tag photo.key, height: 300, width: 400, crop: :fill
end %>
