<div class=<%= 'cracheur' if @talent.talent_type == 'Cracheur de Feu' %>></div>

<div class="container-show <%= 'container-cracheur' if @talent.talent_type == 'Cracheur de Feu' %>  cont-top">
  <h2><%= @talent.pseudo %></h2>
  <div class="talent-infos-recap">
    <p><%= @talent.working_area %></p>
    <p><%= @talent.talent_type %></p>
    <% if @talent.reviews.any? %>
      <% total_ratings = @talent.reviews.pluck(:rating).compact.sum %>
      <% average_rating = total_ratings.to_f / @talent.reviews.count %>
      <p> <%= average_rating.round(2) %><i class="fa-solid fa-star"></i></p>
    <% else %>
      <p> No rating yet </p>
    <% end %>
    <p>Nombre de reviews : <%= @talent.reviews.length %></p>
  </div>
</div>

<div class="container-show <%= 'container-cracheur' if @talent.talent_type == 'Cracheur de Feu' %> ">
  <div class="parent">
    <div class="big-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.medias.first.present? ? cl_image_path(@talent.medias.first.key) :asset_path('mimi.jpeg') %>)"></div>
    <div class="small-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.medias.second.present? ? cl_image_path(@talent.medias.second.key) :asset_path('mimi.jpeg') %>)"></div>
    <div class="small-photo-top-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.medias.third.present? ? cl_image_path(@talent.medias.third.key) :asset_path('mimi.jpeg') %>)"></div>
    <div class="small-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.medias.fourth.present? ? cl_image_path(@talent.medias.fourth.key) :asset_path('mimi.jpeg') %>)"></div>
    <div class="small-photo-bottom-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.medias.fifth.present? ? cl_image_path(@talent.medias.fifth.key) :asset_path('mimi.jpeg') %>)"></div>
  </div>
</div>


<div class="container-show <%= 'container-cracheur' if @talent.talent_type == 'Cracheur de Feu' %>  cont-bot">
  <div class="content">
    <div class="left-info">
      <div class="pseudo-picture">
        <h3><%= @talent.pseudo %></h3>
        <% if @user.profile_picture.attached? %>
          <img class="avatar" src="<%= cl_image_path(@user.profile_picture.key) %>" alt="">
        <% else %>
          <img class="avatar" src="<%= asset_path('mimi.jpeg') %>" alt="">
        <% end %>
      </div>
      <div class="talent">
        <h5><%= @talent.talent_type %></h5>
      </div>
      <p><%= @talent.description %></p>
      <div class="reviews">
        <br>
        <% @talent.reviews.each do |review| %>
          <p><i class="fa-solid fa-star"></i> <%= review.rating %>/5 "<%= review.comment %>"</p>
        <% end %>
      </div>
    </div>
    <div class="right-info">
      <div class="card-book">
        <h4><%= number_with_precision(@talent.price, precision: 2)%>€</h4>
        <div class="ratings">
          <% if @talent.reviews.any? %>
            <% total_ratings = @talent.reviews.pluck(:rating).compact.sum %>
            <% average_rating = total_ratings.to_f / @talent.reviews.count %>
            <p> <%= average_rating.round(2) %> <i class="fa-solid fa-star"></i></p>
          <% else %>
            <p> No rating yet </p>
          <% end %>
          <p><strong><%= @talent.reviews.length %></strong> reviews</p>
        </div>
        <div class="form-wrapper">
          <h3>Book <%= @talent.pseudo %></h3>
          <%= simple_form_for [@talent, @booking] do |f| %>
            <%= f.input :start_date, as: :string, class: "start_date",
                        required:  false,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date, as: :string, class: "end_date",
                        required: false,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.submit class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%# url(<%=list.photo.attached? ? cl_image_tag(list.photo.key) :asset_path('back_ground.jpg')%>
<%# @talent.medias.each do |photo|
cl_image_tag photo.key, height: 300, width: 400, crop: :fill
end %>
