<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-democrat" id="democrat" style="font-size: 40px"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav d-flex">

        <% if user_signed_in? %>

          <div>
            <li class="nav-item" id="freak">
              <%= link_to "Wanna become a chelou?", new_talent_path, class: "nav-link" %>
            </li>
          </div>

          <div>
            <li class="nav-item dropdown">
              <i class="fa-solid fa-user avatar dropdown-toggle" style="font-size: 30px" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          </div>

        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>

        <% end %>

      </ul>

    </div>

  </div>
</div>
