<div class="container">
  <ul class="list-inline tabs-underlined" id="myTab" role="tablist">
    <li role="presentation">
      <a href="#" class="tab-underlined active" id="booking-tab" data-bs-toggle="tab" data-bs-target="#booking" role="tab" aria-controls="booking" aria-selected="true">Bookings</a>
    </li>
    <li role="presentation">
      <a href="#" class="tab-underlined" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li role="presentation">
      <a href="#" class="tab-underlined" id="talent-tab" data-bs-toggle="tab" data-bs-target="#talent" role="tab" aria-controls="talent" aria-selected="false">Talents</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="booking" role="tabpanel" aria-labelledby="booking-tab">
      <% if @user.bookings.count > 1 %>
        <h2>Your bookings <%= @user.first_name %></h2>
      <% else %>
        <h2>Your booking <%= @user.first_name %></h2>
      <% end %>
      <% @user.bookings.each do |booking| %>
        <div class="card-booking">
          <% if booking.talent.medias.attached?  %>
            <img src="<%= cl_image_path(booking.talent.medias.first.key)%>" class="card-img-top" alt="Talent picture">
          <% else %>
            <img src="<%= asset_path('mimi.jpeg')%>" class="card-img-top" alt="Talent picture">
          <% end %>
          <div class="card-booking-infos">
            <h2><%= link_to booking.talent.pseudo.capitalize, talent_path(booking.talent), class: "colored-link" %> - <%= link_to booking.talent.talent_type.capitalize, talent_path(booking.talent), class: "colored-link" %></h2>
            <p>Description: <%= booking.talent.description %></p>
            <p>From <%= booking.start_date %> to <%= booking.end_date %> - <%= booking.address %></p>
            <p>Price: <%= number_with_precision(booking.talent.price, precision: 2) %> €</p>
            <%= link_to "Write a Review", new_booking_review_path(booking), class: 'light-link', 'data-bs-toggle' => 'modal', 'data-bs-target' => '#review_popup' %> <span class='light-link'>|</span>
            <%= link_to "Cancel your booking", booking_path(booking), class: 'light-link', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking with #{booking.talent.pseudo}?" } %>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="review_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write a Review for your booking with <%= booking.talent.pseudo %> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [booking, @review] do |f| %>
                  <%= f.input :comment, placeholder: "Add your review here..." %>
                  <%= f.input :rating, as: :select, collection: (1..5), required: true %>
              </div>
              <div class="modal-footer">
                <%= f.submit class: "btn btn-flat" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "Book another talent", root_path, class: "btn btn-flat" %>
    </div>



    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h2>Your account <%= @user.first_name %></h2>
      <div class="card-profile">
        <div class="card-data">
          <h5>Name</h5>
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
        <div class="card-data">
          <h5>Email</h5>
           <p><%= @user.email %></p>
        </div>
        <div class="card-data">
          <h5>Date of Birth</h5>
          <p><%= @user.date_of_birth %></p>
        </div>
        <div class="card-data">
          <h5>Sex</h5>
          <p><%= @user.sex %></p>
        </div>
        <div class="card-data">
          <h5>Address</h5>
          <p><%= @user.address %></p>
        </div>
        <div class="card-data">
          <h5>Phone</h5>
          <p><%= @user.phone %></p>
        </div>
        <div class="card-data">
          <h5>Description</h5>
          <p><%= @user.description %></p>
        </div>
      </div>
      <%= link_to "Edit my profile", edit_user_registration_path, class: "btn btn-flat" %>
    </div>


    <div class="tab-pane fade" id="talent" role="tabpanel" aria-labelledby="talent-tab">
      <% if @user.talents.count > 1 %>
        <h2>Your talents <%= @user.first_name %></h2>
      <% else %>
        <h2>Your talent <%= @user.first_name %></h2>
      <% end %>
      <% @user.talents.each do |talent| %>
        <div class="card-booking">
          <% if talent.medias.attached?  %>
            <img src="<%= cl_image_path(talent.medias.first.key)%>" class="card-img-top" alt="Talent picture">
          <% else %>
            <img src="<%= asset_path('mimi.jpeg')%>" class="card-img-top" alt="Talent picture">
          <% end %>
          <div class="card-booking-infos">
            <h2><%= link_to talent.talent_type.capitalize, talent_path(talent), class: "colored-link" %> - <%= link_to talent.working_area, talent_path(talent), class: "colored-link" %></h2>
            <p>Description: <%= talent.description %></p>
            <p>Performance duration: <%= talent.performance_duration %></p>
            <p>Price: <%= talent.price %> €</p>
            <%= link_to "Edit your talent", edit_talent_path(talent), class: 'light-link' %> <span class='light-link'>|</span>
            <%= link_to "Remove your talent", talent_path(talent), class: 'light-link', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this talent?" } %>
          </div>
        </div>
      <% end %>
      <h2>Your upcoming shows</h2>
      <% @talents.each do |talent| %>
        <% talent.bookings.each do |booking| %>
          <div class="card-booking">
            <div class="card-booking-infos">
              <h2><%= booking.start_date %> to <%= booking.end_date %> | <%= booking.address %></h2>
              <p>Performance: <%= link_to booking.talent.talent_type, talent_path(booking.talent), class: "colored-link" %></p>
              <p>Customer contact: <%= booking.user.first_name %> <%= booking.user.last_name %> | <%= booking.user.phone %></p>
              <p>Price: <%= booking.talent.price %> €</p>
              <%= link_to "Cancel your booking", booking_path(booking), class: 'light-link', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking with #{booking.user.first_name}?" } %>
            </div>
          </div>
        <% end %>
      <% end %>
      <h2>Your reviews</h2>
      <p>You don't have any review yet. Come back later!</p>
    </div>
  </div>
</div>
